<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Number of pages:</strong>
  <%= @book.number_of_pages %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @book.detail %>
</p>


<p>
  <% if @book.image.attached? %>
    <%= image_tag @book.image %>
  <% end %>
</p>

<<<<<<< HEAD
<h2><b>Review Book</b></h2>
<%= form_for BookReview.new  do |f|%>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :book_id, value: @book.id %>
  <%= f.text_area :review %><br>
  <%= f.submit "Submit" %>
<% end %><br>
<h2><b>Review List</b></h2>

<% unless @book.book_reviews.empty? %>
  <ul>
    <% @book.book_reviews.each do |review| %>
      <!--<li><%= review.review %>(<%= review.user_id %>)</li>-->
      <li><%= review.review %>(<%= review.user.name.empty? ? review.user.email : review.user.name %>)</li>
    <% end %>
  </ul>
=======
<h2>Review From</h2>
<%= form_with(model: @book_review, local: true) do |form| %>
  <div class= "field">
    <%= form.text_area :review %>
    <%= form.hidden_field :book_id, :value => @book.id %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<h2>Review List</h2>
<ul>
  <% @book.book_review.each do |book_review|%>
   <li><%= book_review.review %>
     (<i><%= book_review.user.name if book_review.user%></i>)</li>
>>>>>>> d74dccd938a24a2927a4d4f8fcdd396b9fe43ab0
<% end %>
</ul>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
